@page "/"
@using Microsoft.AspNetCore.Components.Forms
@using SvgClassDiagramGenerator.Parser
@using System.Text.Json
@using SvgClassDiagramGenerator.Renderer
@using SvgClassDiagramGenerator.SyntaxDrawer
@using System.Text

@inject SvgRenderer Renderer

@if (classDiagram != null)
{
    <button @onclick="Download" style="margin:10px">Download Svg</button>
}

<div style="display:flex;flex-direction:column">
    <InputFile OnChange="LoadFiles" />
    <div id="svgDiagram" style="margin-top:60px">
    </div>
</div>



@code
{
    ClassDiagramRenderer classDiagram;
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }
    private async void LoadFiles(InputFileChangeEventArgs e)
    {
        if (e.FileCount <= 0)
            return;

        var browser = e.File;
        using var stream = browser.OpenReadStream();
        using StreamReader reader = new(stream);
        var text = await reader.ReadToEndAsync();
        var parser = new CSharpSyntaxParser(text);
        var info = parser.Parse();

        Draw(info.Classes.First());

    }
    async void Draw(ClassSyntax classSyntax)
    {
        classDiagram = ClassDiagramRenderer.Init(Renderer);
        await classDiagram.CreateSvgCanvas("#svgDiagram", 1200, 1000);
        classDiagram.Draw(classSyntax);
        StateHasChanged();
    }
    void Download()
    {
        BlazorBindGen.BindGen.Window.CallVoid("saveAsFile", classDiagram.ClassName + ".svg", Convert.ToBase64String(Encoding.UTF8.GetBytes(Renderer.Svg())));
    }
}
