@page "/"
@using Microsoft.AspNetCore.Components.Forms
@using SvgClassDiagramGenerator.Parser
@using System.Text.Json
@using SvgClassDiagramGenerator.Renderer

@inject SvgRenderer Renderer


<div style="display:flex;flex-direction:column">
    <InputFile OnChange="LoadFiles" />
    <div id="svgDiagram" style="margin-top:60px">
    </div>
</div>

@if (parsedInfo!=null)
{
    <p>@(parsedInfo)</p>
}

@code
{
    string parsedInfo;
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        Draw();
    }
    private async void LoadFiles(InputFileChangeEventArgs e)
    {
        if (e.FileCount <= 0)
            return;

        var browser = e.File;
        using var stream = browser.OpenReadStream();
        using StreamReader reader = new(stream);
        var text = await reader.ReadToEndAsync();
        var parser = new CSharpSyntaxParser(text);
        var info = parser.Parse();
        parsedInfo = JsonSerializer.Serialize(info);
        StateHasChanged();
    }
    async void Draw()
    {
        await Renderer.CreateSvgCanvas("#svgDiagram", 300, 300);
        var boundingBox = Renderer.Text("SomeText").Stroke(1,"green").Move(0,0).GetBoundingBox();
        Renderer.Rect(boundingBox.Width, boundingBox.Height).Move(0,0).Fill("none").Stroke("red");
    }
}
